@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.header_top {
  padding: 8px;
  color: #0f4229;
}
.header_top .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_top .line .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header_top .line .left .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header_top .line .left .details span {
  font-weight: 500;
  font-size: 15px;
}
.header_top .line .right .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header_top .line .right .social_media a i {
  font-size: 14px;
}

@media (max-width: 768px) {
  .header_top {
    padding: 4px 0;
  }
  .header_top .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
  }
  .header_top .line .left .details {
    gap: 7px;
  }
  .header_top .line .left .details i {
    font-size: 13px;
  }
  .header_top .line .left .details span {
    font-size: 10px;
  }
}
header {
  color: #0f4229;
  margin-top: 2px;
}
header .container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
header .container .logo img {
  width: 70px;
}
header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .container .links .link {
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
header .container .links .link.ative {
  color: #348e38 !important;
}
header .container .links .btn_search,
header .container .links .btn_shop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7f6e9;
  cursor: pointer;
}
header .container .links .btn_search i,
header .container .links .btn_shop i {
  font-size: 15px;
}
header .container .links .btn_get {
  padding: 12px 35px;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 6px;
  background-color: #348e38;
  cursor: pointer;
}
header .container .links .btn_icon {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 8px;
  }
  header .container {
    padding: 7px 10px;
    margin-top: 0;
  }
  header .container .logo img {
    width: 45px;
  }
  header .container .links .link {
    display: none;
  }
  header .container .links .btn_search,
header .container .links .btn_shop {
    display: none;
  }
  header .container .links .btn_get {
    padding: 5px 17px;
    font-size: 13px;
    display: none;
  }
  header .container .links .btn_icon {
    display: block;
  }
  header .container .links .btn_icon i {
    font-size: 20px;
  }
}
.menu-mobile {
  position: fixed;
  height: 100%;
  top: 0;
  left: -100%;
  width: 70%;
  background-color: white;
  color: #0f1425;
  padding: 70px 20px 0;
  -webkit-box-shadow: 0 0 15px #9f9f9f;
          box-shadow: 0 0 15px #9f9f9f;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 9999;
}
.menu-mobile.active {
  left: 0;
}
.menu-mobile .content {
  position: relative;
}
.menu-mobile .content .close-menu {
  position: absolute;
  top: -45px;
  right: 5px;
  cursor: pointer;
}
.menu-mobile .content .close-menu svg {
  width: 35px;
}
.menu-mobile .content .title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}
.menu-mobile .content .logo {
  margin-bottom: 20px;
}
.menu-mobile .content .logo img {
  width: 65px;
}
.menu-mobile .content .links .link {
  display: block;
  color: #0f4229 !important;
  font-weight: 500;
  font-size: 17px;
  padding: 10px 0;
  border-top: 1px solid #e3e3e3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-mobile .content .links .link:last-child {
  border-bottom: 1px solid #e3e3e3;
}
.menu-mobile .content .links .link.active {
  color: #348e38 !important;
}
.menu-mobile .content .links .link:hover {
  color: #348e38 !important;
}

footer {
  padding-top: 80px;
  background-color: #0f4229;
  background-image: url(../images/bg-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
footer .line {
  margin-bottom: 80px;
}
footer .line .logo img {
  width: 80px;
}
footer .line .desc {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
footer .line .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .line .social_media a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #348e38;
}
footer .line .social_media a i {
  font-size: 18px;
}
footer .line .title_link {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 20px;
}
footer .line .links .user-links {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
footer .line .links .user-links li a {
  color: #c1c1c1 !important;
}
footer .line .info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
footer .line .info_item i {
  color: #348e38;
}
footer .line .info_item span {
  font-weight: 500;
}
footer .line .input_item {
  background-color: white;
  padding: 8px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
footer .line .input_item input {
  width: 100%;
  border: none;
  outline: none;
}
footer .line .input_item button {
  background-color: #348e38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
}
footer .copy_right {
  padding: 25px 0;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
  border-top: 1px solid gray;
}

@media (max-width: 768px) {
  footer {
    padding-top: 30px;
    text-align: center;
  }
  footer .line {
    margin-bottom: 30px;
  }
  footer .line .logo img {
    width: 60px;
  }
  footer .line .desc {
    font-size: 18px;
    margin-bottom: 5px;
  }
  footer .line .social_media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }
  footer .line .social_media a {
    width: 30px;
    height: 30px;
  }
  footer .line .social_media a i {
    font-size: 16px;
  }
  footer .line .title_link {
    font-size: 20px;
    margin-bottom: 10px;
  }
  footer .line .links {
    margin-bottom: 15px;
  }
  footer .line .links .user-links {
    gap: 7px;
  }
  footer .line .links .user-links li a {
    font-size: 15px;
  }
  footer .line .info_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .line .info_item i {
    font-size: 17px;
  }
  footer .line .info_item span {
    font-weight: 400;
    font-size: 15px;
  }
  footer .line .input_item {
    padding: 5px 10px;
  }
  footer .line .input_item input {
    border-radius: 50px;
  }
  footer .copy_right {
    padding: 15px 0;
    font-size: 15px;
  }
}
.hero_section {
  height: calc(100vh - 140px);
  color: #0f4229;
}
.hero_section .container {
  height: 100%;
}
.hero_section .container .line {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.hero_section .container .line .left,
.hero_section .container .line .right {
  width: 50%;
}
.hero_section .container .line .left .subtitle {
  font-size: 20px;
  font-weight: 500;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-animation: slide-up 0.9s 0.4s ease forwards;
          animation: slide-up 0.9s 0.4s ease forwards;
}
.hero_section .container .line .left .title {
  font-size: 45px;
  font-weight: 700;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-animation: slide-up 0.9s 0.8s ease forwards;
          animation: slide-up 0.9s 0.8s ease forwards;
}
.hero_section .container .line .left .desc {
  line-height: 1.6;
  color: #5a705d;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-animation: slide-up 0.9s 1.2s ease forwards;
          animation: slide-up 0.9s 1.2s ease forwards;
}
.hero_section .container .line .left .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.hero_section .container .line .left .btns button {
  border: none;
  padding: 12px 35px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 6px;
}
.hero_section .container .line .left .btns .btn_get {
  color: white;
  background-color: #348e38;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-animation: slide-up 0.9s 1.6s ease forwards;
          animation: slide-up 0.9s 1.6s ease forwards;
}
.hero_section .container .line .left .btns .btn_read {
  color: #348e38;
  border: 2px solid #348e38;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  -webkit-animation: slide-up 0.9s 2.2s ease forwards;
          animation: slide-up 0.9s 2.2s ease forwards;
}
.hero_section .container .line .right {
  text-align: center;
}
.hero_section .container .line .right .image img {
  width: 45%;
  -webkit-transform: translateX(250%);
          transform: translateX(250%);
  -webkit-animation: slide-right 0.9s 0.4s ease forwards;
          animation: slide-right 0.9s 0.4s ease forwards;
}

@media (max-width: 768px) {
  .hero_section {
    height: calc(100vh - 120px);
  }
  .hero_section .container .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .hero_section .container .line .left,
.hero_section .container .line .right {
    width: 100%;
  }
  .hero_section .container .line .left .subtitle {
    font-size: 15px;
  }
  .hero_section .container .line .left .title {
    font-size: 21px;
  }
  .hero_section .container .line .left .desc {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .hero_section .container .line .left .btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero_section .container .line .left .btns button {
    padding: 5px 20px;
    font-size: 12px;
  }
}
.about_us_section {
  padding: 70px 0;
  color: #0f4229;
}
.about_us_section .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 40px;
}
.about_us_section .line .left,
.about_us_section .line .right {
  width: 50%;
}
.about_us_section .line .left .subtitle {
  font-size: 19px;
  font-weight: 500;
  color: #348e38;
}
.about_us_section .line .left .title {
  font-size: 35px;
  font-weight: 700;
}
.about_us_section .line .left .secound_title {
  font-weight: 600;
  font-size: 18px;
}
.about_us_section .line .left .desc {
  font-weight: 500;
  line-height: 1.6;
  color: #536e56;
  margin: 15px 0;
}
.about_us_section .line .left .quote {
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.about_us_section .line .left .author {
  font-weight: 600;
  font-size: 18px;
}
.about_us_section .line .left .author span {
  color: #348e38;
}
.about_us_section .line .left .btn_more {
  margin-top: 30px;
  padding: 10px 35px;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #348e38;
  cursor: pointer;
}
.about_us_section .line .right {
  position: relative;
}
.about_us_section .line .right .image img {
  width: 100%;
}
.about_us_section .line .right .bg_person_about {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.about_us_section .line .right .bg_person_about img {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .about_us_section {
    padding: 30px 0;
  }
  .about_us_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .about_us_section .line .left,
.about_us_section .line .right {
    width: 100%;
  }
  .about_us_section .line .left .subtitle {
    font-size: 14px;
  }
  .about_us_section .line .left .title {
    font-size: 22px;
    margin-bottom: 2px;
  }
  .about_us_section .line .left .secound_title {
    font-size: 14px;
  }
  .about_us_section .line .left .desc {
    font-size: 11px;
    margin: 0;
  }
  .about_us_section .line .left .quote {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .about_us_section .line .left .author {
    font-size: 14px;
  }
  .about_us_section .line .left .btn_more {
    margin-top: 8px;
    padding: 4px 20px;
    font-size: 13px;
  }
  .about_us_section .line .right .bg_person_about {
    display: none;
  }
}
.what_we_do_section {
  padding: 80px 0;
  background-color: #e7f6e9;
  background-image: url("../images/bg-what-we-do.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.what_we_do_section .subtitle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.what_we_do_section .title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.what_we_do_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 60px;
}
.what_we_do_section .boxs .box {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.what_we_do_section .boxs .box.active {
  background-image: url("../images/lawn.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}
.what_we_do_section .boxs .box.active:nth-child(6) {
  background-image: url("../images/landscape.jpeg");
}
.what_we_do_section .boxs .box.active:nth-child(7) {
  background-image: url("../images/flower-beds.jpeg");
}
.what_we_do_section .boxs .box.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 66, 41, 0.7921568627);
  z-index: 5;
}
.what_we_do_section .boxs .box.active .text,
.what_we_do_section .boxs .box.active .icon {
  position: relative;
  z-index: 10;
}
.what_we_do_section .boxs .box .text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.what_we_do_section .boxs .box .text p {
  margin: 5px 0;
  font-size: 13px;
  line-height: 1.5;
}
.what_we_do_section .boxs .box .text p .hide {
  display: none;
}
.what_we_do_section .boxs .box .text p .btn_read_text {
  display: inline;
  color: #348e38 !important;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .what_we_do_section {
    padding: 30px 0;
  }
  .what_we_do_section .subtitle {
    font-size: 15px;
  }
  .what_we_do_section .title {
    font-size: 20px;
  }
  .what_we_do_section .boxs {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
  .what_we_do_section .boxs .box {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .what_we_do_section .boxs .box .icon img {
    width: 50px;
  }
  .what_we_do_section .boxs .box .text h4 {
    font-size: 20px;
  }
  .what_we_do_section .boxs .box .text p {
    margin: 5px 0;
    font-size: 13px;
  }
  .what_we_do_section .boxs .box .text a {
    font-size: 14px;
  }
}
.facts_section {
  padding: 100px 0;
  background-image: url(../images/image-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.facts_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
}
.facts_section .boxs {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  color: white;
}
.facts_section .boxs .box {
  text-align: center;
}
.facts_section .boxs .box .num {
  font-size: 75px;
  font-weight: 700;
  margin: 10px 0;
}
.facts_section .boxs .box .type {
  font-size: 19px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .facts_section {
    padding: 50px 0;
  }
  .facts_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }
  .facts_section .boxs .box .icon img {
    width: 50px;
  }
  .facts_section .boxs .box .num {
    font-size: 35px;
    margin: 3px 0;
  }
  .facts_section .boxs .box .type {
    font-size: 15px;
  }
}
.testimonials_section {
  padding: 100px 0;
}
.testimonials_section .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.testimonials_section .line .left {
  width: 70%;
  position: relative;
  z-index: 20;
}
.testimonials_section .line .left .subtitle {
  font-size: 19px;
  font-weight: 500;
  color: #348e38;
}
.testimonials_section .line .left .title {
  font-size: 40px;
  font-weight: 700;
}
.testimonials_section .line .left .desc {
  font-weight: 500;
  color: #0f4229;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
}
.testimonials_section .line .left .box {
  padding: 50px 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1490196078);
  margin: 10px;
}
.testimonials_section .line .left .box .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.testimonials_section .line .left .box .profile .image {
  position: relative;
}
.testimonials_section .line .left .box .profile .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials_section .line .left .box .profile .image .quote {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #348e38;
  border-radius: 50%;
}
.testimonials_section .line .left .box .profile .image .quote i {
  color: white;
  font-size: 15px;
}
.testimonials_section .line .left .box .profile .text h4 {
  font-size: 18px;
  margin-bottom: 0;
}
.testimonials_section .line .left .box .profile .text span {
  font-size: 15px;
  color: gray;
}
.testimonials_section .line .left .box p {
  margin-bottom: 0;
  color: #0f4229;
  line-height: 1.6;
}
.testimonials_section .line .left .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.testimonials_section .line .left .owl-nav button {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #348e38;
  border: 2px solid #348e38;
  border-radius: 50%;
}
.testimonials_section .line .left .owl-nav button span {
  font-size: 30px;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.testimonials_section .line .right {
  width: 30%;
  position: relative;
}
.testimonials_section .line .right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  width: 600px;
  height: 520px;
  background-image: url(../images/special-img2.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .testimonials_section {
    padding: 30px 0;
  }
  .testimonials_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials_section .line .left,
.testimonials_section .line .right {
    width: 100%;
  }
  .testimonials_section .line .left {
    text-align: center;
  }
  .testimonials_section .line .left .subtitle {
    font-size: 15px;
  }
  .testimonials_section .line .left .title {
    font-size: 20px;
  }
  .testimonials_section .line .left .desc {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .testimonials_section .line .left .box {
    padding: 20px;
  }
  .testimonials_section .line .left .box .profile .image img {
    width: 60px;
    height: 60px;
  }
  .testimonials_section .line .left .box .profile .image .quote {
    width: 20px;
    height: 20px;
  }
  .testimonials_section .line .left .box .profile .image .quote i {
    font-size: 12px;
  }
  .testimonials_section .line .left .box .profile .text h4 {
    font-size: 16px;
  }
  .testimonials_section .line .left .box p {
    font-size: 13px;
  }
  .testimonials_section .line .left .owl-nav button {
    width: 25px;
    height: 25px;
    border: 2px solid #348e38;
  }
  .testimonials_section .line .left .owl-nav button span {
    font-size: 24px;
  }
  .testimonials_section .line .right {
    width: 100%;
    height: 350px;
  }
  .testimonials_section .line .right::before {
    width: 100%;
    height: 100%;
    right: 0;
  }
}
.how_it_works_section {
  padding: 100px 0;
  background: #e2f3ee;
}
.how_it_works_section .subtitle {
  font-size: 20px;
  color: #348e38;
}
.how_it_works_section .title {
  font-size: 35px;
  font-weight: 700;
}
.how_it_works_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.how_it_works_section .boxs .box {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgb(223, 223, 223);
          box-shadow: 0 0 15px rgb(223, 223, 223);
}
.how_it_works_section .boxs .box .image {
  position: relative;
  height: 280px;
}
.how_it_works_section .boxs .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.how_it_works_section .boxs .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
.how_it_works_section .boxs .box .content {
  position: relative;
  padding: 40px 20px 20px;
  text-align: center;
}
.how_it_works_section .boxs .box .content .icon {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #348e38;
  border-radius: 50%;
}
.how_it_works_section .boxs .box .content .icon img {
  width: 40px;
}
.how_it_works_section .boxs .box .content span {
  font-size: 17px;
  color: #348e38;
  font-weight: 500;
}
.how_it_works_section .boxs .box .content h4 {
  font-weight: 600;
}

@media (max-width: 768px) {
  .how_it_works_section {
    padding: 40px 0;
  }
  .how_it_works_section .subtitle {
    font-size: 15px;
  }
  .how_it_works_section .subtitle img {
    width: 21px;
  }
  .how_it_works_section .title {
    font-size: 20px;
  }
  .how_it_works_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  .how_it_works_section .boxs .box .image {
    height: 230px;
  }
  .how_it_works_section .boxs .box .content {
    padding: 25px 15px 15px;
  }
  .how_it_works_section .boxs .box .content .icon {
    width: 60px;
    height: 60px;
  }
  .how_it_works_section .boxs .box .content .icon img {
    width: 35px;
  }
  .how_it_works_section .boxs .box .content span {
    font-size: 14px;
  }
  .how_it_works_section .boxs .box .content h4 {
    font-size: 18px;
  }
}
.our_gallery_section {
  padding: 80px 0;
}
.our_gallery_section .title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.our_gallery_section p {
  max-width: 600px;
  color: gray;
  margin: auto;
  text-align: center;
}
.our_gallery_section .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}
.our_gallery_section .boxs .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  width: 33.3333333333%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.our_gallery_section .boxs .box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.our_gallery_section .boxs .box img {
  width: 100%;
}

@media (max-width: 768px) {
  .our_gallery_section {
    padding: 30px 0;
  }
  .our_gallery_section .title {
    font-size: 20px;
  }
  .our_gallery_section p {
    font-size: 13px;
  }
  .our_gallery_section .boxs {
    margin-top: 30px;
  }
}
.contact_us {
  padding: 80px 0;
  background: #e2f3ee;
}
.contact_us .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.contact_us .line .left .image img {
  width: 100%;
}
.contact_us .line .right .subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #348e38;
}
.contact_us .line .right .title {
  font-size: 35px;
  font-weight: 700;
}
.contact_us .line .right form input,
.contact_us .line .right form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
}
.contact_us .line .right form textarea {
  height: 200px;
}
.contact_us .line .right form button {
  padding: 10px 40px;
  border: none;
  color: white;
  background-color: #348e38;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .contact_us {
    padding: 30px 0;
  }
  .contact_us .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_us .line .left,
.contact_us .line .right {
    width: 100%;
  }
  .contact_us .line .left .image img {
    width: 90%;
  }
  .contact_us .line .right .subtitle {
    text-align: center;
    font-size: 15px;
  }
  .contact_us .line .right .title {
    font-size: 20px;
    text-align: center;
  }
  .contact_us .line .right form input,
.contact_us .line .right form textarea {
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contact_us .line .right form textarea {
    height: 100px;
  }
  .contact_us .line .right form button {
    padding: 5px 20px;
    font-size: 14px;
  }
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f4f6ff !important;
}

ul {
  list-style: none !important;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

button {
  border: none;
  background-color: transparent;
}

svg {
  width: 25px;
}

main {
  background-color: #e7f6e9;
  background-image: url("../images/bg-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}